body {
    background-color:darkolivegreen;
  }

  .container{
    padding: 10px;
    display: flex;
    gap: 10%;
    justify-content: center;
    
  }

  h1{
    font-family: Algerian;
    color: white;
    text-align: center;
    font-size:60px;
  }

  p{
    font-size: x-large;
    text-align: center;
    font-family: Baskerville Old Face;
    color: white;
  }
  footer{
    text-align: center;
    font-size: large;
    margin: 15px;
    color: white;
  }